#wbdev-title{
    color:white;
    background-color: #464B4F;
    margin:0px;
 }
h1{
    color:white;
    background-color: gray;
 }

#wbdv-module-list {
    background-color:#363B3E;
}
#wbdv-module-item{

    background-color:#363B3E;
}

.wbdv-module-item{
    margin:7px;
}

.wbdev-bold{
    font-weight: bolder;
}
.wbdev-module.wbdev-selected{
    background-color:darkgray;
}

.nav-link.wbdv-header{
    color: white;
}

.box{
    border-right:1px solid darkgray;
    border-bottom:1px solid darkgray;
    background-color:#363B3E;
}

.wbdv-save{
    width:60px;
    height:35px;
}


.custom-switch{
    size: 26px;
}


.heading-widget-title{
    font-size:22px;
    font-weight:bold;
}

.top-row-heading{
    border-top:1px solid darkgray;


}

.preview-word{
    font-size: 30px;
}

.heading-text{
    font-size: 40px;

}

.row-widget{
border-bottom:1px solid darkgray;
}

.fa-arrow-up{
    width: 30px;
    height: 30px;
    box-sizing:border-box;
    background-color: orange;
    margin-right:7px;

}

.fa-arrow-down{
    background-color: orange;
    width: 30px;
    height: 30px;
    box-sizing:border-box;

}

.wbdv-dropdown-widget{
    margin-left:5px;
}

.close-widget{
    margin-left:10px;
    box-sizing:border-box;
    background-color: red;
    width: 29px;
    height: 29px;
    color: white;
}

.module-row{
    Background-color:#4C5155;
    color: white;
}

.module-add{
     Background-color:#363B3E;
     color: white;

 }
.wbdv-module-item-delete-btn{
    margin-top:3px;
}

wbdv-new-widget{
font-size:32px

}