#wbdev-title{
    color:white;
    background-color: gray;
 }
h1{
    color:white;
    background-color: gray;
 }
h2 {
    color:yellow;
    background-color: blue;
 }
#wbdv-module-list {
    background-color: gray;
}
#wbdv-module-item{
    background-color: gray;
}
.wbdev-bold{
    font-weight: bolder;
}
.wbdev-module.wbdev-selected{
    background-color:darkgray;
}

.nav-link{
    color: white;
}